:root {
    --color-white: rgb(180, 180, 180);
    --color-black: #060606;

    --font-heading: "Roboto Slab", Times;
    --font-body: "Source Sans Pro", sans;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: var(--font-body);
    line-height: 1.4;
    color: --color-black;
}

body {
    font-size: clamp(1.4rem, 1.6vw, 1.6rem);
    min-height: 100vh;

    background-image: url("./background1.svg");
    /* background-attachment: fixed; */
    /* box-shadow: 2rem 1rem 12rem rgba(20, 20, 20, .4) inset; */
    background-size: cover;

    display: flex;
    justify-content: center;
}

main {
    width: clamp(45vw, 38rem, 94vw);

    background: rgb(180, 180, 180);
    box-shadow: 0 4rem 8rem 0rem rgba(0, 0, 0, .6);

    margin: 6rem 0 6rem 0;
    padding: min(4rem, 6vw);
    border-radius: 1rem;
}

h1 {
    text-align: center;
    font-size: clamp(2rem, 7vw, 2.6rem);
    font-family: var(--font-heading);
    font-weight: 700;
    padding-bottom: 1.2rem;
}

hr {
    border: var(--color-black) 1px solid;
    margin-bottom: 1rem;
}

p {
    padding: .6rem 0 .6rem 0;
}

details {
    border-radius: 1.6rem;
    padding: .6rem;
}

details[open] {
    margin: 1rem 0rem 0rem 0rem;
    padding: 1rem;
    border: var(--color-black) 2px solid;
    box-shadow: 0 .5rem 2rem 0rem rgba(0, 0, 0, .2);
}

summary {
    cursor: pointer;

    font-family: var(--font-heading);
    font-weight: 400;
    font-size: clamp(1.5rem, 5.5vw, 1.8rem);
}

li {
    margin: .4rem 0 .6rem 1.6rem;
}

a {
    color: var(--color-black);
    text-decoration: none;
}