* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.4;
    color: #060606;
}

body {
    font-size: clamp(1.4rem, 1.6vw, 1.6rem);
    min-height: 100vh;

    background-image: url("./background1.svg");
    /* background-attachment: fixed; */
    /* box-shadow: 2rem 1rem 12rem rgba(20, 20, 20, .4) inset; */
    background-size: cover;

    display: flex;
    justify-content: center;
}

main {
    width: clamp(45vw, 38rem, 90vw);

    background: rgb(180, 180, 180);
    box-shadow: 0 4rem 8rem 0rem rgba(0, 0, 0, .6);

    margin: 6rem 0 6rem 0;
    padding: min(4rem, 10vw);
    padding-bottom: 10vh;
    border-radius: 1rem;
}

h1 {
    text-align: center;
    font-size: clamp(2rem, 7vw, 2.6rem);
    font-family: "Oswald", sans-serif;

    padding-bottom: 1.4rem;
}

hr {
    border: #060606 1px solid;
}

p {
    padding: .6rem 0 .6rem 0;
}

details {
    padding: 1rem 0 1rem 0;
    margin-left: -1rem;
    border-radius: 2rem;
}

details>* {
    padding-left: 1rem;
    padding-right: 1rem;
}

details[open] {
    margin: 1rem 0rem 0rem 0rem;
    border: #060612 2px solid;
    background-color: rgba(180, 180, 180);
    box-shadow: 0 1rem 3rem 0rem rgba(0, 0, 0, .15);
}

summary {
    cursor: pointer;
    margin-top: -1rem;
    padding-top: 1rem;

    border-radius: 1.8rem 1.8rem 0 0;

    font-size: clamp(1.5rem, 5.5vw, 1.8rem);
}

details[open]>summary {
    color: rgb(180, 180, 180);
    background-color: #262626;
    border-bottom: black 2px solid;
}