* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Open Sans", sans-serif;
    line-height: 1.4;
    color: #060606;
}

body {
    min-height: 100vh;

    background-image: url("./background1.svg");
    /* background-attachment: fixed; */
    box-shadow: 2rem 1rem 12rem rgba(20, 20, 20, .4) inset;
    background-size: cover;

    display: flex;
    justify-content: center;
}

main {
    width: clamp(50vw, 42rem, 90vw);
    min-height: 60vw;

    background: rgba(180, 180, 180);
    box-shadow: 0 4rem 8rem 0rem rgba(0, 0, 0, .6);

    margin: 6rem 0 6rem 0;
    padding: min(4rem, 10vw);
    border-radius: 1rem;
}

h1 {
    text-align: center;
    font-size: clamp(1rem, 8vw, 2.4rem);
    font-family: "Oswald", sans-serif;

    padding-bottom: 1.4rem;
}

p {
    font-size: clamp(0.4rem, 5vw, 1.2rem);
    margin-top: 2rem;
    margin-right: min(4rem, 2vw)
}

hr {
    border: #060606 1px solid;
}