body {
    background-attachment: fixed;
    box-shadow: 2rem 1rem 12rem rgba(20, 20, 20, .4) inset;
}

details {
    transition: .2s;
}

.trait{
    opacity: .8;
}

.trait:hover {
    opacity: 1;
}

::-webkit-scrollbar {
    background: var(--color-blue);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-white);
}