:root {
    --color-white: rgb(180, 180, 180);
    --color-blue: #011223;
}
@font-face {
    font-family: NormalText;
    font-weight: 400;
    src: url("../fonts/golosText400.woff2");
}
@font-face {
    font-family: HeadingText1;
    font-weight: 800;
    src: url("../fonts/robotoSlab800.woff2");
}
@font-face {
    font-family: HeadingText2;
    font-weight: 600;
    src: url("../fonts/robotoSlab600.woff2");
}

address {
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "normalText", sans; /* font-weight: 400; */
    font-display: optional;
    line-height: 1.4;
    color: var(--color-blue);

    border: none;
}

body {
    font-size: clamp(1.15rem, 4vw, 1.6rem);
    min-height: 100dvh;

    background-image: url("../images/background1.svg");
    background-color: var(--color-blue);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
}

main {
    width: clamp(45vw, 34rem, 90vw);
    height: min-content;
    background: rgb(180, 180, 180);
    box-shadow: 0 4rem 8rem 0rem rgba(0, 0, 0, .6);

    margin: min(5rem, 7vw) 0 2rem 0;
    padding: min(4rem, 6vw);
    border-radius: 1rem;
}

h1 {
    text-align: center;
    font-size: clamp(2rem, 7vw, 2.6rem);
    font-family: "HeadingText1", Times; /* font-weight: 800; */
    padding-bottom: .6rem;
}

hr {
    background-color: var(--color-blue);
    padding: 1px;
    border: none;
    margin-bottom: 1rem;
}

p {
    padding: .6rem 0 .6rem 0;
}

li {
    margin: .4rem 0 .6rem 1.6rem;
}

a {
    background-color: var(--color-blue);
    padding: .2rem;
    border-radius: .4rem;

    color: var(--color-white);
    text-decoration: none;
}