.traits {
    position: relative;
    display: flex;
    align-items: center;
}

.buttons {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    pointer-events: none;
}

.traits>.buttons>button {
    font-size: 1.6rem;
    width: 3rem;
    height: 3rem;
    
    pointer-events: all;
    cursor: pointer;
    z-index: 1;
}
#backButton {
    background: linear-gradient(to right, var(--color-white) 70%, rgba(180, 180, 180, .05) 100%);
}
#nextButton {
    background: linear-gradient(to left, var(--color-white) 70%, rgba(180, 180, 180, .05) 100%);
}

.traitsWrapper {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    touch-action: pan-y;
    scrollbar-width: none;
}
.traitsWrapper::-webkit-scrollbar {
    display: none;
}

.trait {
    margin: 0 .2rem;
    flex: 0 0 auto;
    padding: .1rem .5rem;

    border-radius: .6rem;
    border: 3px solid;
    transition: .2s;
    z-index: 0;

    border-color: var(--trait-color);
    cursor: default;
    
    color: var(--trait-color);
}

.trait:hover {
    background: var(--trait-color);
    color: var(--color-white);
}

.trait:first-child {
    margin-left: max(2.8rem, 3.2vw);
}

.trait:last-child {
    margin-right: 2.8rem;
}

.trait-black {
    --trait-color: var(--color-blue);
}

.trait-blue {
    --trait-color: #3862b6;
}

.trait-green {
    --trait-color: #2d6856;
}
