.traits {
    position: relative;
    display: flex;
    align-items: center;
}

.buttons {
    position: absolute;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    pointer-events: none;
}

.traits>.buttons>button {
    font-size: 1.6rem;
    width: 3rem;
    height: 3rem;
    
    pointer-events: all;
    cursor: pointer;
}
#backButton {
    background: linear-gradient(to right, var(--color-white) 60%, rgba(180, 180, 180, .2));
}
#nextButton {
    background: linear-gradient(to left, var(--color-white) 60%, rgba(180, 180, 180, .2));
}

.traitsWrapper {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.traitsWrapper::-webkit-scrollbar {
    display: none;
}

.trait {
    margin: 0 .2rem;
    flex: 0 0 auto;
    padding: .1rem .5rem;

    border-radius: .6rem;
}

.trait:first-child {
    margin-left: max(2.8rem, 3.2vw);
}

.trait:last-child {
    margin-right: 2.6rem;
}

.age {
    border: var(--color-blue) 2px solid;
    color: var(--color-blue);
}

.personality {
    border: #00308F 2px solid;
    color: #00308F;
}

.adress {
    border: #1B4D3E 2px solid;
    color: #1B4D3E;
}